<!DOCTYPE html>
<html>
  <head>

    <link rel="icon" type="image/png" href="/images/test.png" sizes="16x16">

    <title><%= current_user ? current_user.f_name + " is " : "" %>OnTap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Rubik:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/react-rangeslider/umd/ReactRangeslider.css">
    <script src="https://use.fontawesome.com/7e2cac5de9.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
